.top_bar_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #121212;
}

.logo{
    max-width: 60px;
    height: auto;
}

.search_container{
    flex-grow: 1;
    width: 100%;
    max-width: 800px;
    margin: 0 20px;
    display: flex;
    overflow: hidden;
    background-color: #FFFFFF;
    border-radius: 6px;
}

.search_input{
    flex: 1;
    padding: 15px;
    border: 1px solid #FFFFFF;
    border-right: none;
    outline: none;
    color: #121212;
}

.search_filter{
    border: none;
    padding: 15px;
    cursor: pointer;
    color: #121212;
    background-color: #CECECE;
}

.search_button{
    border: none;
    padding: 15px;
    cursor: pointer;
    color: #121212;
    background-color: #CECECE;
}

.login_button{
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
    text-decoration: solid;
    color: #121212;
    background: #FFFFFF;    
}